<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scheme</key>
	<string>https</string>
	<key>Host</key>
	<string>api-tokyochallenge.odpt.org</string>
	<key>Station</key>
	<string>/api/v4/odpt:Station</string>
	<key>Timetable</key>
	<string>/api/v4/odpt:StationTimetable</string>
	<key>Key</key>
	<string>bBWNeXPDJ0f2o1sO_VzVPX0sOI2ygnBFK3YHSGGclqs</string>
</dict>
</plist>
